/* resets */
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Arial, sans-serif;
}

h1, h2{
    margin: 20px auto;
    width: 500px;
    display: block;
}

form, .boxe{
    width: 500px;
    height: auto;
    margin: 0 auto;
    display: block;
    font-size: 12px;
    line-height: 20px;
}
form > fieldset{
    margin: 5px;
    padding: 10px;
    border-color: #dedede;

}
form > fieldset > legend{

    border: 1px solid #dedede;
    font-size: 14px;
    padding: 0 10px 0;

}
form > fieldset > label{
    display: block;
    width: 100%;
    margin: 0px 10px;
}

form > fieldset > input{
    display: block;
    width: 90%;
    height: 20px;
    margin: 0px 10px 10px;
    padding: 10px;

}

.botao{
    background: #40d47e;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-style: none;
    display: block;
    margin: 0px 10px 10px;
    padding: 0 0 0;
    width: 40%;
    height: 30px;
    float: right;
    color: #fff;						
}
.botao:hover{
    background: #27ae60
}

.botao.reset{
    background: #95a5a6;
}

.botao.reset:hover{
    background: #7f8c8d;
}


.resp{
    width: 500px;
    display: block;
    margin: 20px auto;
    background: #40d47e;
    font-size: 16px;
    color: #ffffff;
}

.resp p{
    padding: 10px 20px;
}